<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Login Portal</title>
</head>
<body>
    <h2>Student Login Portal</h2>
    <form action="/login" method="POST">
        <label>Student Name</label>
        <br>
        <input type="text" placeholder="Enter the name" name="name"/>
        <br>
        <label>Roll number</label>
        <br>
        <input type="text" placeholder="Enter the roll number" name="rollno"/>
        <br>
        <label>Password</label>
        <br>
        <input type="password" placeholder="Enter the password" name="password"/>
        <br>
        <button type="submit">Submit</button>
    </form>
    

</body>
</html>